{% extends 'base.html' %}

{% block title %}
		献血记录修改
{% endblock %}

{% block main %}
<div class="mx-auto rounded-lg shadow" style="background-color:#ffe8a1; width: 600px; margin: 100px; ">
			<div class="w-85 mx-auto  " style="padding: 100px 30px 40px;">
				<div class="mx-auto text-center text-danger" style="padding: 20px">
					<h1>献血记录修改</h1>
				</div>
				<form method="post" action="/donor/changeblood/" onsubmit="return change();">
                    {% csrf_token %}
 					<div class="form-group">
						<label for="bloodid">请输入血液号:</label>
						<input type="text" class="form-control" id="bloodid" name="bloodid" onblur="checkbloodID(this.value)" placeholder="血液id" required value={{ bloodid }}>
                        <div style="text-align: center;"><span id="Error" style="color: red"></span></div>
					</div>
					<div class="form-group">
						<label for="donorid">身份证号:</label>
						<input type="text" class="form-control" id="donorid" name="donorid"  placeholder="献血者的身份证号" readonly="readonly" required value={{ donorid }}>
                        <div style="text-align: center;"><span id="Error" style="color: red"></span></div>
					</div>
					<hr />
					<div class="form-group">
						<label for="donorname">姓名:</label>
						<input type="text" class="form-control" id="donorname" name="donorname" placeholder="献血者的姓名" readonly="readonly" required>
					</div>
					<hr />
					<div class="form-group">
						血型:
						<div class='col d-inline'>
							<select id="bloodtype" class="custom-select-sm" name="bloodtype" style="pointer-events: none;">
								<option value="A">A</option>
								<option value="B">B</option>
								<option value="AB">AB</option>
								<option value="O">O</option>
								<option value="Rh阴性">Rh阴性</option>
							</select>
							型
						</div>
						容量:
						<div class='col d-inline'>
							<select id="bloodvolume" class="custom-select-sm" name="bloodvolume">
								<option value="200">200</option>
								<option value="300">300</option>
								<option value="400">400</option>
							</select>
							ml
						</div>
						献血成分:
						<div class='col d-inline'>
							<select id="bloodcomponent" class="custom-select-sm" name="bloodcomponent">
								<option value="全血">全血</option>
								<option value="血小板">血小板</option>
							</select>
						</div>
					</div>
					<hr />
					<div class="form-inline">
						<label for="bloodtime">献血日期:</label>
						<input type="text" id="bloodtime" name="bloodtime" class="form-control" placeholder="献血者的献血日期" required>
					</div>
					<hr />
					<div class="form-inline">
						<label for="bloodplace">献血地点:</label>
						<input type="text" id="bloodplace" name="bloodplace" class="form-control" placeholder="请输入献血者的献血地点" required>
					</div>
					<hr />
					<div class="form-inline">
						<label for="responsible">负责人:</label>
						<input type="text" id="responsible" name="responsible" class="form-control" placeholder="你没登录" readonly="readonly" required value={{ manager.dusername }}>

					</div>
					<hr />

					<div style="text-align: center;"><span id="Error" style="color: red" >{{ Error }}</span></div>
					<button type="submit" id="button" class="btn btn-block btn-success">修改</button>
                </form>
			</div>
		</div>
{% endblock %}

{% block footerjs %}
		<script type="text/javascript">
        var flag = false;
		function checkbloodID(bloodid) {
			$.ajax({
                url:'/donor/checkbloodid/',
                type:'GET',
                async:false,
                data:{'bloodid':bloodid},
                success:function(result){
                    var cflag = result.flag;
                    if(cflag){
                        flag=true;
                        $('#Error').html('');
                        $("#button").html("修改");
                        $("#button").click(function () {
                            window.location.href="";
                        });
                        $('#donorid').val(result.donorid);
                        $('#donorname').val(result.donorname);
                        $('#bloodplace').val(result.bloodplace);
                        $('#bloodtime').val(result.bloodtime);
                        $('#bloodtype').val(result.bloodtype).attr('select','true');
                        $('#bloodvolume').val(result.bloodvolume).attr('select','true');
                        $('#bloodcomponent').val(result.bloodcomponent).attr('select','true');

                        $("#bloodcomponent").css("pointer-events","auto");
                        $("#bloodvolume").css("pointer-events","auto");

                        $("#bloodplace").attr('readonly',false);
                        $("#bloodtime").attr('readonly',null);
                    }else {
                        flag=false;
                        document.getElementById("Error").innerHTML = "血液号不存在！";
                        document.getElementById("button").innerHTML='去查询';
                        document.getElementById("button").onclick=function () {
                            window.location.href="/donor/checkblood/";
                        }
                        document.getElementById("donorid").value="";
                        document.getElementById("donorname").value="";
                        document.getElementById("bloodplace").value="";
                        document.getElementById("bloodtime").value="";


                        document.getElementById('bloodcomponent').style.pointerEvents="none";
                        document.getElementById('bloodvolume').style.pointerEvents="none";

                        document.getElementById("bloodplace").readOnly=true;
                        document.getElementById("bloodtime").readOnly="readonly";


                    }
                }
			});
            return false
		}





        function change() {
			    if (flag){
			        return confirm("确认修改吗？");
			    }else{
			        return false;
			    }
        }


		</script>
{% endblock %}